body {
    background-color: lightgray;
}

main {
    width: 60%;
    margin: auto;
}

section {
    background-color: white;
    padding: 10px;
    margin-bottom: 1px;
}

section h2 {
    margin-top: 0;
}

.border1 {
    border-style: solid;
    border-width: 1px;
}
div.date {
    text-align: center;
}

.redback {
    background-color: red;
}
.textorange {
    color: orange;
}
.centered {
    text-align: center
}
